from django.contrib.auth import get_user_model
from django.core.management.base import BaseCommand

from core.project.settings.base import env

User = get_user_model()


class Command(BaseCommand):
    def handle(self, *args, **options):
        admin_login = env.str("ADMIN_LOGIN", "{{admin_login}}")
        admin_email = env.str("ADMIN_EMAIL", "{{admin_email}}")
        admin_password = env.str("ADMIN_PASSWORD", "{{admin_password}}")

        if all([admin_login, admin_email, admin_password]):
            User.objects.create_superuser(admin_login, admin_email, admin_password)  # type: ignore[attr-defined]
