{%- if db_type == "postgresql" %}
# =============================================================================
# POSTGRESQL CONFIGURATION
# =============================================================================
POSTGRES_DB={{db_name}}
POSTGRES_USER={{db_user}}
POSTGRES_PASSWORD={{db_password}}
{%- elif db_type == "mysql" %}
# =============================================================================
# MYSQL CONFIGURATION
# =============================================================================
MYSQL_DATABASE={{db_name}}
MYSQL_USER={{db_user}}
MYSQL_PASSWORD={{db_password}}
MYSQL_ALLOW_EMPTY_PASSWORD="yes"
{%- endif %}
# =============================================================================
# DJANGO ADMIN PANEL
# =============================================================================
ADMIN_LOGIN={{admin_login}}
ADMIN_EMAIL={{admin_email}}
ADMIN_PASSWORD={{admin_password}}
# =============================================================================
# DJANGO CORE SETTINGS
# =============================================================================
ENVIRONMENT=development
SECRET_KEY="{{secret_key}}"
DOCKER_DJANGO_PORT={{docker_django_port}}
