{%- if database_type == "postgresql" %}
# =============================================================================
# POSTGRESQL CONFIGURATION
# =============================================================================
POSTGRES_DB={{database_name}}
POSTGRES_USER={{database_user}}
POSTGRES_PASSWORD={{database_password}}
{%- else %}
# =============================================================================
# MYSQL CONFIGURATION
# =============================================================================
MYSQL_DATABASE={{database_name}}
MYSQL_USER={{database_user}}
MYSQL_PASSWORD={{database_password}}
MYSQL_ALLOW_EMPTY_PASSWORD="yes"
{%- endif %}
# =============================================================================
# DJANGO ADMIN PANEL
# =============================================================================
ADMIN_LOGIN={{admin_login}}
ADMIN_EMAIL={{admin_email}}
ADMIN_PASSWORD={{admin_password}}
# =============================================================================
# DJANGO CORE SETTINGS
# =============================================================================
SECRET_KEY="{{secret_key}}"
DEBUG=True
ALLOWED_HOSTS="*"
DOCKER_DJANGO_PORT={{docker_django_port}}
