# =============================================================================
# PROJECT CONFIGURATION
# =============================================================================

[project]
name = "{{ project_slug }}"
version = "0.1.0"
description = "{{ project_description }}"
readme = "README.md"
requires-python = ">={{ python_version }}"
license = { file = "LICENSE" }
authors = [{ name = "{{ author_full_name }}", email = "{{ author_email }}" }]
dependencies = [
    "django>=5.2.4",
    "django-environ>=0.12.0",
    {%- if api and  api_type == "drf" %}
    "djangorestframework>=3.16.0",
    "drf-spectacular>=0.27.2",
    {%- elif api and api_type == "ninja" %}
    "django-ninja>=1.4.3",
    {%- endif %}
    {%- if db_type == "postgresql" %}
    "psycopg2-binary>=2.9.10",
    {%- elif db_type == "mysql" %}
    "mysqlclient>=2.2.7",
    {%- endif %}
]

[project.optional-dependencies]
dev = [
    "pre-commit>=4.2.0",
    {%- if api and api_type == "drf" %}
    "djangorestframework-stubs>=3.16.0",
    {%- endif %}
    "pytest>=8.4.1",
    "pytest-django>=4.11.1",
    "requests>=2.32.5",
]

# =============================================================================
# LINTING CONFIGURATION
# =============================================================================

[tool.ruff]
target-version = "py{{ python_version.split('.')[0] + python_version.split('.')[1] }}"
line-length = 120

exclude = [
    "*/migrations/*",
    "*/staticfiles/*",
    "*/media/*",
    "*/locale/*",
    "*.txt",
]

[tool.ruff.lint]
select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
    "B",  # flake8-bugbear
    "C4", # flake8-comprehensions
    "UP", # pyupgrade
    "S",  # bandit
    "T20",  # flake8-print (print())
    "T10",  # flake8-debugger (pdb)
]
ignore = [
    "S101", # Use of assert detected
    "S601", # shell=True detected
]

[tool.ruff.lint.per-file-ignores]
# Django settings use star imports and dynamic attributes by convention
"core/project/settings/*" = ["F405", "F403"]

# =============================================================================
# PYTEST CONFIGURATION
# =============================================================================

[tool.pytest.ini_options]
testpaths = ["**/tests"]
python_files = ["test_*.py", "test_*.py.jinja"]
DJANGO_SETTINGS_MODULE = "core.project.settings"
