{% macro generate_password(length) -%}
{%- set chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789" -%}
{%- for i in range(length) -%}
{{- chars[range(chars|length)|random] -}}
{%- endfor -%}
{%- endmacro %}

{% macro generate_secret_key(length=50) -%}
{%- set chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#%^&*()-_=+" -%}
{%- for i in range(length) -%}
{{- chars[range(chars|length)|random] -}}
{%- endfor -%}
{%- endmacro %}
