from django.contrib import admin
{%- if api and api_type == "drf" %}
from django.urls import include, path
from drf_spectacular.views import SpectacularAPIView, SpectacularSwaggerView
{%- else %}
from django.urls import path
{%- endif %}

urlpatterns = [
    path("admin/", admin.site.urls),
    {%- if api and api_type == "drf" %}
    path("api/", include("core.api.urls")),
    path("api/schema/", SpectacularAPIView.as_view(), name="schema"),
    path("api/docs/", SpectacularSwaggerView.as_view(url_name="schema"), name="swagger-ui"),
    {%- endif %}
]
